@charset "utf-8";
body{
	background-color: #FFFFFF;
}
.search-manager{
	width: 100%;
	margin: 0 auto;
	border: solid #9F9FA0 1px;
	border-radius: 15px;
	background-color: #D4D4D4;
}
.search-manager-in{
	width:98%;
	min-width: 640px;
	margin: 5px auto;
	padding: 5px 10px;
}
.search-manager table{
	width: 100%;
	text-align: center;
}
.search-manager table tr{
	height: 30px;
}
.search-manager table tr td{
	width: 100px;
}
.search-manager table tr td input{
	width: 100%;
	border-radius: 5px;
}
.search-manager table tr td select{
	width: 100%;	
	height: 24px;
	border-radius: 5px;
}
.ok-btn{
	width:120px !important;
	height: 30px;
	border-radius: 5px;
	background-color: #00EEFF;
}
.search-result{
	width: 100%;
	min-width: 640px;
	height:302px;
	margin: 15px auto;
	border: solid #9F9FA0 1px;
	position: relative;
}
.search-result table{
	width: 100%;
	text-align: center;
}
.search-result table tr{
	height:25px;
}
